/* *
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body
{
    background-color: dimgray;
} */
 *
body 
{
    margin: 0;
    padding: 0;
    background: url('https://i.ibb.co/bQv7q7H/dark-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}

.title 
{
    margin-top: 30px;
    font-size: 40px;
    letter-spacing: 7px;
}

.top-text 
{
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 22px;
    font-size: 14px;
}

.container 
{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 40px;
}

.card 
{
    width: 300px;
    height: 420px;
    border-radius: 10px;
    text-align: center;
    padding: 0 10px;
}

.card-top 
{
    height: 120px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card h2 
{
    margin-top: 15px;
    letter-spacing: 5px;
}

.card p 
{
    margin-top: 10px;
    font-size: 15px;
    line-height: 32px;
}


.green .card-top 
{
     background: #7CFF00; 
}
.green 
{ 
    background: #006000; 
}

.blue .card-top 
{ 
    background: blue; 
}
.blue 
{
     background: rgb(20, 20, 98); 
}

.yellow .card-top 
{
     background: yellow; 
}
.yellow
{
     background: orange; 
}
